[submodule "libft"]
	path = libft
	url = git@github.com:paulo-santana/libft.git
	branch = master
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/paulo-santana/get_next_line
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:paulo-santana/ft_printf.git
